body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f3e8ff;
}

.app-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #6b21a8;
}

input {
  width: 65%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  padding: 10px;
  margin-left: 5px;
  border: none;
  background: #a855f7;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.done-btn {
  background: #22c55e;
}

.delete-btn {
  background: #ef4444;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 10px;
  border-radius: 8px;
  background: #faf5ff;
}

.completed {
  text-decoration: line-through;
  color: gray;
}