table {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input[type="submit"]:hover {
    background-color: darkgreen;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: darkred;
    cursor: pointer;
}
